html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  font-family: Inter, Arial;
  box-sizing: border-box;
  line-height: 150%;
}

body{
  background-color: #1F2140;
  color: #AAACCC;
  font-size: 16px;
  line-height: 150%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Libre Baskerville, Arial, Helvetica, sans-serif;
  color: #E5E6F0;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
}

a {
  text-decoration: none; 
  cursor: pointer;
  color: rgb(235, 235, 235);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

header{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
  padding-bottom: 0px;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
}

nav {
  background-color:rgba(48, 49, 77, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  border-radius: 200px;
  gap: 200px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
}

.email-link {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  align-items: center;
}

.email-link p {
  font-size: 1rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 24px;
  text-decoration: none;
}

.nav-link {
  display: flex;
  justify-content: center;
  background-color:rgba(52, 52, 52, 0.0);
  border-radius: 200px;
  border: none;
  padding: 4px 12px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.nav-link:hover{
  opacity: 80%;
  transform: scale(1.07);
}

.section {
  display: flex;
  justify-content: center;
  padding: 4rem 2.5rem;
  width: 100%;
}

.section-wrap{
  max-width: 1440px;
  width: 100%;
}

.hero{
  display: flex;
  min-height: auto;
  width: 100%;
}

.hero-content {
  border-radius: 24px;
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  min-height: 700px;
  width: 100%;
  max-width: 1440px;
  padding: 2.5rem;
  opacity: 0;
  transform: translateY(-5%);
  animation: hero-content 0.5s ease-in forwards;
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;
  height: 60vh;
  justify-content: space-between;
  position: relative;
}

.star-ill {
  position: absolute;
  right: -80px;
  top: -80px;
  filter: saturate(50%);
}

.hero-title h1 {
  font-size: 4rem;
  max-width: 80%;
  line-height: 110%;
  color: #FFFFFF;
}

.hero-bottom {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: space-between;
}

.hero-description p {
  max-width: 500px;
  color: #E5E6F0;
}

@keyframes hero-content {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 400px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero-links button {
  color: rgb(235, 235, 235);
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 200px;
  padding: 8px 16px;
  background-color: rgb(255, 255, 255, 0.1);
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.hero-links button:hover {
  background-color: #FFFFFF;
  color: #1F2140;
  opacity: 100%;
  transform: scale(1.01);
}

.hero-links button:hover img {
  filter: invert(88%);
}

.hero-links img {
  width: 16px;
}

.hero-links p{
  margin: 0;
}

h2 {
  font-size: 2.5rem;
  font-family: Inter;
  letter-spacing: 0.5px;
}

h3{
  font-size: 24px;
  font-weight: 400;
}

.shots{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow-x: hidden;
}

.shots-header{
  display: flex;
  gap: 12px;
  white-space: nowrap;
  align-items: center;
}

.decor-line{
  width: 100%;
  height: 4px;
  background-color: #2d2e4c;
  border-radius: 200px;
}

.shots-grid{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100vw;
  overflow: hidden;
}

.shots-row {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: unset !important;
  width: 150%;
  max-width: 100vw;
  position: relative;
  scrollbar-width: none;
}

.shot {
  flex: 0 0 auto;
  width: 400px;
  height: auto;
}

.shots-row img {
  max-width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.shots-row::-webkit-scrollbar {
  display: none;
}

.work-grid {
  display: flex;
  padding: 4rem 0rem;
  flex-direction: column;
  gap: 2rem;
}

.all-work {
  background-color: #2d2e4c;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
}

.work-item {
  display: flex;
  padding: 3rem 1.25rem;
  transition: transform 0.2s ease;
}

.work-heading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.work-heading p {
  font-size: 1.5rem;
  color: #AAACCC;
}

.work-item:hover p {
  color: #FFFFFF;
}

.item-content {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 20px;
  position: relative;
}

.work-item:hover .item-icon img {
  transform: scale(1.1);
}

.work-thumbnail img {
  width: 350px;
}

.work-description {
  width: 75%;
  font-size: 2rem;
  color: white;
}

.work-grid .decor-line {
  background-color: #AAACCC;
  opacity: 5%;
}

.case-tag{
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  font-size: 12px;
  color: #ffcaeb;
}

.soon-badge p {
  font-size: 11px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgb(248, 255, 49);
  color: #1F2140;
}

.soon-badge p {
  font-weight: 500;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 1rem;
}

/* Show modal */
.modal.active {
  display: flex;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #FFFFFF;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
}

.close-btn:hover {
  opacity: 80%;
  z-index: 10000;
}

#about-wrap {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.link-out{
  display: flex;
  background-color: #FFFFFF;
  padding: 2.5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  justify-content: space-between;
  margin-top: 12px;
  align-items: center;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.link-out h2 {
  color: #1F2140;
}

.link-out img {
  filter: invert(85%);
}

.link-out:hover {
  background-color: #ffcaeb;
  transform: scale(1.01);
}

.skills-wrap .skills {
  display: flex;
  white-space: nowrap;
  gap: 8px;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  }

.skill {
  padding: 0.75rem 2rem;
  background-color: #2d2e4c;
  border-radius: 200px;
}

.skills li {
  font-size: 2.5rem;
}

.skills-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tools {
  display: flex;
  justify-content: center;
  gap: 64px;
  width: 100%;
  padding: 0px 8rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 80px 16px;
}

.tools img {
  height: 56px;
}

.about-me{
  padding: 4.5rem;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}


.about-item{
  font-size: 2.5rem;
}


.about-title{
  color: rgb(235, 235, 235);
}


.about-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-details{
  padding: 12.5rem;
  background-color: #ffcaeb;
  border-radius: 1.5rem;
}

.contact-content{
  display: flex;
  flex-direction: column;
  color: rgb(235, 235, 235);
  align-items: center;
  gap: 2.5rem;
  max-width: 430px;
  margin: auto;
}

.contact-details p{
  text-align: center;
  color: #1F2140;
}

.contact-details h2{
  color: #1F2140;
}

.contact-links{
  display: flex;
  gap: 20px;
}

.contact-link{
  background-color: #ffcaeb;
  padding: 16px 24px;
  border: 2px solid #1F2140;
  border-radius: 200px;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.contact-link:hover{
  background-color: #1F2140;
  border: 2px solid #1F2140;
}

.contact-link:hover img{
  filter: invert(100%);
}

.sign-off {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  font-size: 12px;
  opacity: 50%;
  text-align: center;
}



/* --------------------Case Studies-------------- */
.study-hero {
  border-radius: 1.5rem;
  background-image: url("images/study-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  max-height: 56.25rem;
  width: 100%;
  max-width: 1440px;
  padding: 5rem 1.5rem;
  opacity: 0;
  transform: translateY(-5%);
  animation: hero-content 0.5s ease-in forwards;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

span {
  color: #E5E6F0;
}
.study-hero-s {
  background-image: url("images/study-bg-s.png");
}

.study-title{
  text-align: center;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-name {
  color: #FFFFFF;
  opacity: 80%;
}

.product-info img {
  height: 28px;
}

.study-cover img{
  max-height: 62.5rem;
}

.sin-col {
  display: flex;
  flex-direction: column;
  padding: 4rem 8rem;
  gap: 5rem;
}

.col-body {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.col-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role-details {
  display: flex;
  flex-direction: column;
  padding: 24px 0px;
  width: 100%;
  align-items: start;
  justify-items: left;
  font-size: 1.5rem;
}

.role-details .skills li {
  font-size: 1.5rem;
}

.dob-col{
  display: flex;
  gap: 24px;
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.sin-col-ver{
  display: flex;
  gap: 40px;
  font-size: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
}

.col-one {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 1 calc(50% - 24px);
}

.sin-col img {
  border-radius: 1rem;
}

.study-image {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  color: #828394;
  font-size: 14px;
}

.study-landscape {
  border-radius: 1rem;
  width: 100%;
}

.study-landscape img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.study-highlight {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
  background-color:#2d2e4c;
  border-radius: 1rem;
  height: 100%;
  position: relative;
}

.study-highlightimg {
  display: flex;
  gap: 24px;
  background-color: #2d2e4c;
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
}

.study-highlight img {
  width: 4rem;
}

.role-details .skills {
  justify-content: left;
  }

.selected-approach {
  position: absolute;
  left: -24px;
  top: -24px;
}

.highlight-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 40px;
  flex: 0 1 calc(50% - 24px);
}

.highlight-image {
  flex: 0 1 calc(50% - 24px);
  position: relative;
  align-items: end;
}

.highlight-image img {
  height: 110%;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.col-title {
  color: #FFFFFF;
}

ol {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-left: 2rem;
}

/* --------------------- Tablet ------------------- */
@media (max-width: 1024px) {

  html {
    font-size: 12px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    text-decoration: none;
  }

  .section {
    display: flex;
    padding: 2.5rem 2.5rem;
    width: 100%;
  }

  .hero{
    display: flex;
    justify-content: left;
    height: auto;
  }

  .hero-content {
    height: auto;
    min-height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 24px;
    padding: 80px 24px;
  }

  .star-ill {
    display: none;
  }

  .hero-title h1 {
    max-width: fit-content;
    max-width: 700px;
  }

  .hero-bottom {
    align-items: center;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
  }

  .hero-links {
    max-width:fit-content;
    justify-content: right;
    order: 1;
  }

  .hero-description p {
    max-width: fit-content;
  }

  .hero-content p {
    margin: 0px
  }

  .all-work {
    padding: 1rem 2rem;
  }

  .work-item {
    padding: 2rem 0px;
  }

  .skills-wrap .skills {
    justify-content: left;
  }

  .case-tag{
    display: flex;
    justify-content: flex-start;
    margin-top: 4px;
    align-items: center;
    text-align: left;
    width: auto;
  }

  .link-out img {
    height: 36px;
    width: 36px;
  }

  .case-out img {
    height: 36px;
    width: 36px;
  }

  .tools {
    justify-content: left;
    padding: 0px 0px;
  }

  #about-wrap {
    gap: 4rem;
  }

  .about-me{
    padding: 4rem 1.5rem;
    border-radius: 1rem;
    gap: 24px;
  }

  .about-cards{
    flex-direction: column;
  }
  
  .about-item{
    padding: 2rem 1.5rem;
    border-radius: 1rem;
  }

  .contact-details{
    border-radius: 1rem;
    padding: 8rem;
    gap: 2.5rem;
  }

  .sin-col {
    padding: 1.5rem 1rem;
    gap: 5rem;
  }

}

  /* --------------- Mobile ------------- */
  @media (max-width: 500px) {

    html {
      font-size: 10px;
    }
    
    .section {
      padding: 2.5rem 1.5rem;
    }

    header{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0;
      position: sticky;
      z-index: 1000;
    }

    nav {
      width: 100%;
      background-color:rgba(52, 52, 52, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5rem 2.5rem;
      border-radius: 0px;
      gap: 0;
      backdrop-filter: blur(10px);
      margin-bottom: 2.5rem;
    }

    .hero-content {
      justify-content: left;
      align-items: left;
      text-align: left;
      padding: 64px 24px;
    }
    
    .hero-title h1 {
      font-size: 3rem;
    }

    .hero-links {
      justify-content: left;
    }

    .work-description {
      width: 100%;
    }

    .work-heading {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: start;
    }

    .about-me{
      padding: 0rem 0rem;
      border-radius: 1rem;
      gap: 24px;
    }

    .about-item{
      font-size: 1.5rem;
    }

    .item-icon {
      display: none;
    }
    
    .skills li {
      font-size: 1.5rem;
    }

    .contact-links{
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
    }

    .contact-link{
      width: 100%;
    }

    .tools img {
      height: 40px;
    }
    
    .study-title{
      max-width: 90%;
    }

    .study-title h1 {
      font-size: 2.5rem;
    }

    .dob-col{
      flex-direction: column;
    }

    .study-highlightimg {
      flex-direction: column;
      padding-bottom: 0px;
    }

    .highlight-description {
      padding: 2.5rem;
      gap: 0.5rem;
    }

    .highlight-image {
      flex: auto;
      position: relative;
      align-items: start;
      padding: 0px;
    }
    
    .highlight-image img {
      height: 100%;
      max-height: 25rem;
      position: relative;
      top: -20px;
      left: 40px;
    }
  
  }
